<div class="mt-4">
	<h4>{{burger_name}}</h4>

	<button class="change-devour btn btn-primary" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if sleep}}Throw away{{else}}Devour me{{/if}}
	</button>

	<button class="delete-burger btn btn-primary" data-id="{{this.id}}">Throw away</button>
</div>

